body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #111827;
}

body a,
body a:visited,
body a:hover,
body a:focus,
body a:link {
    color: #4ade80;
}

header {
    background: #111827;
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
}

header h2.name a,
header h2.name a:visited,
header h2.name a:hover,
header h2.name a:focus,
header h2.name a:link {
    color: inherit;
    text-decoration: none;
}

main {
    color: #d1d5db;
    margin: 2rem;
    text-align: center;
}

button {
    background: #007bff;
    border: none;
    color: #ffffff;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1em 0;
    background: #111827;
    color: #9ca3af;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
}

footer a,
footer a:visited,
footer a:hover, 
footer a:focus,
footer a:link {
    color: inherit;
    text-decoration: underline;
}
