<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>osoi.news</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <h2 class="name">
                <a href="index.html">osoi.news</a>
            </h2>
        </div>
    </header>

    <main>
        <div class="container">
            <h3>2024-12-28までの一週間のニュース（毎週土曜日に更新）</h3>
            <ul id="news-list"></ul>
        </div>
    </main>

    <footer>
        <div class="container">
                <p>&copy; <span id="year"></span> Yuta Tokoi | <a href="https://github.com/yutatokoi/osoi.news/blob/main/README.md">About osoi.news</a> | <a href="https://github.com/yutatokoi/osoi.news" target="_blank">Source code</a></p>
        </div>
    </footer>

    <script src="/static/script.js"></script>
</body>
</html>

