<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>osoi.news</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <h2 class="name">
            <a href="index.html">osoi.news</a>
        </h2>
    </header>

    <main>
        <h3>2024-12-28までの一週間のニュース</h3>
        <button id="alert-button">Click Me</button>
    </main>

    <footer>
        <p>&copy; <span id="year"></span> Yuta Tokoi</p>
    </footer>

    <script src="../static/script.js"></script>
</body>
</html>

